
<div class="col-12 col-sm-4">
    <div class="card border-danger mb-3">
        <div class="card-header">Manager
            <i class="fas fa-mug-hot"></i>
        </div>
        <div class="card-body text-danger">
            <h5 class="card-title">${manager.getName()}</h5>
            <ul class="list-group">
                <li class="list-group-item">ID #: ${manager.id}</li>
                <li class="list-group-item">Email: ${manager.email}</li>
                <li class="list-group-item">Office #: ${manager.officeNumber}</li>
            </ul>
        </div>
    </div>
</div>
